<mat-tab-group mat-stretch-tabs *ngIf="walletManager.activeAccount">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>&nbsp;
      <span *ngIf="(uiState.displayLabels$ | async) === false">{{ "Account.Identity" | translate }}</span>
    </ng-template>

    <div class="page centered wrap">
      <h2>Nostr Public Key</h2>

      <p class="selectable">
        {{ identifier }}
        <button class="copy-button" mat-icon-button (click)="copy()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </p>

      <p>
        <img [src]="qrCodePublicKey" class="qr-code" />
      </p>
      <div class="dimmed">{{ identifier }}</div>

    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">handyman</mat-icon>&nbsp;
      <span *ngIf="(uiState.displayLabels$ | async) === false">Tools</span>
    </ng-template>

    <div class="page">
      <p>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Export Private Key</mat-card-title>
            <mat-card-subtitle>Keep this private key safe, if you loose it or share it with websites, it can be stolen and misused.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <button class="signup-button" mat-stroked-button (click)="exportPrivateKey()">{{ "Account.ExportPrivateKey" | translate }}</button>
            <mat-card class="mat-elevation-z6 selectable wrap" *ngIf="verifiedWalletPassword === true"
              >{{ privateKey
              }}<button class="copy-button" mat-icon-button (click)="copyPrivateKey()">
                <mat-icon>content_copy</mat-icon>
              </button>

              <p>
                <img [src]="qrCodePrivateKey" class="qr-code" />
              </p>
              <div class="dimmed">{{ privateKey }}</div>
            </mat-card>
            <mat-card *ngIf="verifiedWalletPassword === false">Invalid Password</mat-card>
            <br />
            <button *ngIf="verifiedWalletPassword === true" class="signup-button" mat-flat-button color="warn" (click)="resetPrivateKey()">{{ "App.Hide" | translate }}</button>
          </mat-card-content>
        </mat-card>
      </p>

      <p>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Key Conversion</mat-card-title>
            <mat-card-subtitle>Convert between any Nostr key format (e.g. npub to hex)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Key (any type of Nostr key)</mat-label>
              <input matInput (change)="convertKey()" [(ngModel)]="conversionKey" />
            </mat-form-field>

            <mat-radio-group (change)="convertKey()" [(ngModel)]="conversionKeyType" *ngIf="showConversionOptions">
              <mat-radio-button value="npub">Public Key</mat-radio-button>&nbsp;
              <mat-radio-button value="nsec">Private Key</mat-radio-button>
            </mat-radio-group>
            <br><br>

            <mat-card class="mat-elevation-z6 selectable wrap" *ngIf="convertedKey"
              >{{ convertedKey
              }}<button class="copy-button" mat-icon-button (click)="copyConvertedKey()">
                <mat-icon>content_copy</mat-icon>
              </button>
            </mat-card>
            <mat-card *ngIf="invalidConversion">Invalid input, unable to convert</mat-card>
          </mat-card-content>
        </mat-card>
      </p>
    </div>
  </mat-tab>

  <!-- <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">folder_shared</mat-icon>&nbsp;
            <span>Vaults</span>
        </ng-template>
        <div class="page">
            <h2>Vaults:</h2>
        </div>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <div mat-line>bf83b2d9-cd9e-48f6-a6cc-bcd9c9b48050</div>
                <div mat-line class="dimmed">Public</div>
                <p><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Remove hub</span>
                        </button>
                    </mat-menu>
                </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <div mat-line>af83b2d9-cd9e-48f6-a6cc-bcd9c9b48050</div>
                <div mat-line class="dimmed">Encrypted</div>
                <p><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Remove hub</span>
                        </button>
                    </mat-menu>
                </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <div mat-line>cf83b2d9-cd9e-48f6-a6cc-bcd9c9b48050</div>
                <div mat-line class="dimmed">Shared</div>
                <p><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Remove hub</span>
                        </button>
                    </mat-menu>
                </p>
            </mat-list-item>
        </mat-list>
    </mat-tab> -->
</mat-tab-group>
