h1 {
  font-size: 2em;
}

.logo {
  height: 96px;
  margin-bottom: 1em;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

textarea {
  font-size: 1.2em;
  word-spacing: 0.4em;
  height: 100px;
}

/* .copy-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
} */

.large-icon {
  font-size: 4em;
  margin-left: -0.5em;
}

.diddocument {
  width: 100%;
  min-height: 520px;
}

.account-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.account-summary-meta {
  text-align: left;
  line-height: 1.8em;
  margin-left: 0.5em;
}

[dir="rtl"] .account-summary-meta {
  text-align: right;
  margin-left: 0;
  margin-right: 0.5em;
}

button[mat-stroked-button] mat-icon {
  margin-right: 0.3em;
  vertical-align: middle;
}

[dir="rtl"] button[mat-stroked-button] mat-icon {
  margin-right: 0;
  margin-left: 0.3em;
}
