name: Build and Release

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build, Test and Release
    runs-on: ubuntu-latest

    env:
      NOSTRIA: "nostria"

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: true

      - uses: actions/setup-node@v2
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"

      - name: Variables
        run: |
          echo VERSION=$(npm run version --silent) >> $GITHUB_ENV
        shell: bash

      - name: Package Name
        run: |
          echo RELEASE_NAME_NOSTRIA=${{ env.NOSTRIA }}-${{ env.VERSION }}.zip >> $GITHUB_ENV
        shell: bash

      - name: Setup
        run: npm install --force

      - name: Test
        run: npm test -- --no-watch --no-progress --browsers=ChromeHeadless
        continue-on-error: true

      # - name: Build
      #   run: npm run all

      - name: Package Nostria
        run: |
          npm run build:production
          cd dist/extension
          zip -r ../../${{env.RELEASE_NAME_NOSTRIA}} "./"
          cd ../../
          rm -rf  dist/extension

      - name: Upload Nostria
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.NOSTRIA}}-preview-${{env.VERSION}}
          path: "${{env.RELEASE_NAME_NOSTRIA}}"

      - name: Create/Update Draft Release
        uses: sondreb/action-release@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: "${{env.RELEASE_NAME_NOSTRIA}}"
          draft: true
          prerelease: false
          name: "Nostria (${{env.VERSION}})"
          tag: ${{env.VERSION}}
